# Panadas Tutorial 01

In [3]:
### Import pandas library

In [4]:
import pandas as pd

In [5]:
### Check version of pandas lib

In [6]:
pd.__version__

'2.0.0'

In [7]:
### Create DataFrame from dictionary

In [11]:
mydataset ={
    "cars":["bmw","skoda"],
    "values":["1","2"]
}

df = pd.DataFrame(mydataset)

In [12]:
df

    cars values
0    bmw      1
1  skoda      2

In [13]:
### Create a Pandas Series for array

In [14]:
my_array = [12,34,100]

In [15]:
sr = pd.Series(data = my_array)

In [16]:
sr

0     12
1     34
2    100
dtype: int64